* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    background-color: #f5f5f5;
}

.main-header {
    margin: 10px;
}

.main-container {
background-color: aqua;
display: grid;
grid-template-columns: .8fr 1fr;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
margin: 10px;

}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.left {
    grid-column: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #616161;
}

.weather-Container {
    grid-row: 1;
    background-color: #cc6d6d;
}

.location-Container {
    grid-row: 2;
    background-color: #f02d2d;
}

#map {
    grid-column: 2;
    width: 100%;
    height: 100%;
}

.btn {
    background-color: #616161;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin: 5px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.currLoc {
    display: flex;
}

.buttons {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}